# Dependency directories
node_modules/
package-lock.json
cypress/reports
cypress/reports/*
cypress/screenshots
cypress/videos
cypress/reports/*.html
cypress/reports/cucumber-json
cypress/reports/*.json
cypress/screenshots
